@using StaffManagement.ViewModel
@model HomeIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Staff list";
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach(var staff in Model.Staffs){
        string photo = "~/images/" + (staff.PhotoFilePath == string.Empty ? "user.png" : staff.PhotoFilePath);
        <div class="col">   
            <div class="card col m-3 style="min-width:18rem; max-width:30.5%;">
            <div class="card-header bg-transparent">
                <h3>@staff.Name</h3>
            </div>
           
            <img class="card-img-top" src="@photo" asp-append-version="true"/>
            <div class="card-footer text-center bg-transparent">
                <a asp-controller="home" asp-action="details" asp-route-Id="@staff.Id" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    }
</div>