@model StaffManagement.ViewModel.HomeDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <h1>
        @Model.Title
    </h1>
</head>
<body>
    <h4>
        <div>
            Ismi : @Model.Staff.Name
            <br />
            Department : @Model.Staff.Department
        </div>
    </h4>
</body>

